<span class="options__attribute options__attribute__left">{{attr_first}}</span>
{{#if input}}
<input name="{{name}}" type="{{type}}" {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}class="options__attribute options__attribute__right">
{{else}}
<span class="options__attribute options__attribute__right"></span>
{{/if}}