
<div class="chatlist">
    {{{buttonProfile}}}
    <input type="search" class="chatlist__search" name="chatsearch" placeholder="Search">
    <div class="chatlist__list">
        {{#each chatsList}}
            {{{this}}}
        {{/each}} 
    </div>
</div>
<div class="selectedchat">
    {{#if selectedChat}}
    <div class="selectedchat__namebar">
        <div class="selectedchat__avatar"></div>
        <div class="selectedchat__name">{{selectedChat.name}}</div>
        {{{buttonOptions}}}
    </div>
    <div class="selectedchat__body">
    </div>
    <form class="selectedchat__messagefield">
        {{{buttonAttachment}}}
        <div class="attachmentmenu">
            <button type="button" class="attachmentmenu__button animate-click">
                <div class="attachmentmenu__image attachmentmenu__image__media"></div><span class="attachmentmenu__text">Photo or Video</span>
            </button>
            <button type="button" class="attachmentmenu__button animate-click">
                <div class="attachmentmenu__image attachmentmenu__image__file"></div><span class="attachmentmenu__text">File</span>
            </button>
            <button type="button" class="attachmentmenu__button animate-click">
                <div class="attachmentmenu__image attachmentmenu__image__loc"></div><span class="attachmentmenu__text">Location</span>
            </button>
        </div>
        <input type="text" class="selectedchat__message" name="message" placeholder="Message">
        <button type="button" class="selectedchat__buttonsend animate-click">
            {{{arrow}}}
        </button>
    </form>
    {{else}}
    Choose a chat to send messages
    {{/if}}
</div>

