<button class="button__goback animate-click">
    {{{arrow}}}
</button>
<div class="avatar">
    <img src="" alt="" class="avatar__image">
    <button class="avatar__edit">Change<br>Avatar</button>
</div>
<div class="options__attribute__sizebig"></div>
<div class="options__container options__profile">
    {{#each  titles }} 
        {{{this}}}
    {{/each  }} 
    {{{buttoneditinfo}}}
    {{{buttonchangepassword}}}
    {{{buttonbacktochats}}}
</div>

<form class="options__container options__editinfo">
    {{#each  titles__editinfo}} 
        {{{this}}}
    {{/each  }} 
    <div style="display: flex; justify-content: center">
        {{{ buttonsaveinfo }}}
    </div>
</form>

<form class="options__container options__editpassword">
    {{#each  titles_editpassword}} 
        {{{this}}}
    {{/each  }}
    <div style="display: flex; justify-content: center">
        {{{buttonsavepassword}}}
    </div>
</form>

<div class="avatarupload">
    <div class="avatarupload__background"></div>
    <form class="avatarupload__form">
        <span class="avatarupload__title">Upload a file</span>
        <label for="fileupload" class="avatarupload__label">Choose a file on your computer</label>
        <input type="file" id="fileupload" name="avatar" class="avatarupload__input" multiple>
        {{{buttonavatarupload}}}
    </form>
</div>
